@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  font-family: Outfit;
}
.App { display: flex;}
.sidebar { width: 250px; background-color: #f4f4f4; padding: 20px;}
.profile-avatar { text-align: center;}
.profile-avatar img { border-radius: 50%;}
nav ul { list-style: none; padding: 0;}
nav ul li { margin: 20px 0;}
nav ul li a { text-decoration: none; color: #333;}
.content { flex: 1; padding: 20px;}
.profile-container, .privacy-container, .audit-logs-container { max-width: 600px; margin: 0 auto;}
form label { display: block; margin: 10px 0 5px;}
form input { width: 100%; padding: 8px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 4px;}
.logout{
  background-color:greenyellow;
  border: none;
  padding: auto;
  font-size: 16px;
}